div:hover {
    background-color: rgba(0, 0, 600, 0.5);
}
div{
    transition: background-color 300ms;
}

button:hover {
    background-color: black;
    color: white;
}

button {
    transition: all 300ms;
    animation: float 2000ms infinite alternate-reverse;
}

@keyframes float {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(10px);
    }
}